/* About Styles */
@import 'styles/_breakpoints.scss';
@import 'styles/_components.scss';

.about {
  display: grid;
  grid-template-columns: $grid-template-column--small;
  grid-gap: $column-gutter--px;
  grid-gap: $column-gutter;
  * {
    grid-column: $grid-column--small;
    @include breakpoint(small) {
      grid-column: $grid-column--medium;
    }
    @include breakpoint(medium) {
      grid-column: $grid-column--large;
    }
  }
  @include breakpoint(small) {
    grid-template-columns: $grid-template-column--medium;
  }
  @include breakpoint(medium) {
    grid-template-columns: $grid-template-column--large;
  }
}

.page-title {
  @include breakpoint(medium) {
    grid-column: 2 / 12;
  }
}

.intro {
  @include breakpoint(medium) {
    grid-column: 2 / 12;
  }
}

.selfie {
  display: flex;
  height: auto;
  width: 100%;
  @include breakpoint(medium) {
    grid-column: 10 / 15;
  }
  .selfie__img {
    display: flex;
    height: auto;
    width: 100%;
  }
}

.specialize {
  width: 100%;
  @include breakpoint(medium) {
    grid-column: 2 / 7;
  }
}
.create {
  width: 100%;
  @include breakpoint(medium) {
    grid-column: 2 / 15;
  }
}
