/* General App Styling */

@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_components.scss';
@import 'styles/_fonts.scss';
@import 'styles/_variables.scss';

/* TABLE
 *
 * Html,Body
 * App
 * General Offsets
 */

/* html, body setup */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  border-sizing: border-box;
  background-color: $background-color;
  color: $font-color;
  font-family: $font-stack;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

html {
  font-size: 62.5%; // 1.0rem = 10px
}

body {
  font-size: 2.4rem;
}

/* General app styling */
#root,
#app {
  display: flex;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 500;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.offset--red {
  color: $offset--red;
}
