/* Footer Styles */

@import 'styles/_breakpoints.scss';
@import 'styles/_components.scss';

/*
.footer {
  bottom: 0;
  display: flex;
  grid-gap: $column-gutter--px;
  grid-gap: $column-gutter;
  flex-wrap: wrap;
  padding: $padding-px;
  padding: $padding;
  height: auto;
  position: relative;
  width: 100%;
}
/*  @include breakpoint(small) {
    display: grid;
    grid-template-columns: $grid-template-column--medium;
  }
  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: $grid-template-column--large;
  }
*/
.pre-footer {
  width: 100%;
  .pre-footer__link  {
    .link.nav {
      visibility: hidden;
    }
  }
  @include breakpoint(small) {
    grid-column: $grid-column--medium;
  }
  @include breakpoint(medium) {
    grid-column: $grid-column--large;
  }
}

.footer__links {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  @include breakpoint(small) {
    justify-content: flex-end;
    grid-column: $grid-column--medium;
  }
  @include breakpoint(medium) {
    //grid-column: $grid-column--large;
    grid-column: 2 / 12;
  }
}

.footer__link {
  padding: 2rem;
  height: auto;
  &:first-child {
    padding: 0;
  }
  &:last-child {
    padding: 0;
  }
}

.pre-footer__list {
  height: auto;
  width: 100%;
  .pre-footer__link:last-child {
    pointer-events: none;
    text-decoration: line-through;
  }
}
